@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 3rem;
}

* {
  box-sizing: border-box;
}

:root {
  --yellow: rgb(255, 196, 0);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 100;

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 5rem;

    @media (min-width: 576px) and (max-width: 1199.98px) {
      height: 6rem;
    }

    img {
      width: 10rem;
      height: 3.5rem;

      @media (min-width: 576px) and (max-width: 1199.98px) {
        width: 12rem;
        height: 5rem;
      }
    }
  }

  main {
    width: 100%;

    .quiz {
      padding: 2rem 0 4rem 0;
      background: linear-gradient(
        180deg,
        rgb(75, 153, 255) 0%,
        rgb(13, 69, 255) 80%,
        rgba(0, 57, 255, 1) 100%
      );

      .content {
        width: 50%;
        margin: 0 auto;

        @media (max-width: 575.98px) {
          width: 100%;
        }

        @media (min-width: 576px) and (max-width: 1199.98px) {
          width: 90%;
        }

        .headline {
          position: relative;
          margin: 0 auto;

          display: flex;
          justify-content: center;

          img {
            width: 100%;
            height: 5rem;
            margin: 0;

            @media (max-width: 575.98px) {
              width: 100%;
            }

            @media (min-width: 576px) and (max-width: 1199.98px) {
              width: 100%;
            }
          }

          h1 {
            position: absolute;
            top: 0.1rem;
            left: 0;
            right: 0;

            font-size: 1.5rem;
            margin: 0;
            color: #121212;
            text-align: center;
            padding: 1rem;
            border-radius: 0.25rem;

            @media (max-width: 575.98px) {
              font-size: 0.95rem;
              top: 0.5rem;
            }

            @media (min-width: 576px) and (max-width: 1199.98px) {
              font-size: 1.55rem;
              top: 0;
            }
          }
        }

        .question {
          text-align: center;
          margin: 2rem 0;
          font-size: 2rem;
        }

        .rate {
          width: calc(100% - 1.5rem);
          height: 0.45rem;
          margin: 1rem auto;

          border-radius: 3rem;
          background: #fff;

          p {
            font-size: 0.85rem;
            text-align: center;
          }

          .progress {
            transition: width 0.8s;
            height: 100%;

            border-radius: 3rem;
            background-color: rgb(221, 221, 0);
          }
          .progress.loading {
            animation: progressLoading 2.5s forwards;

            @keyframes progressLoading {
              30% {
                width: 30%;
              }
              60% {
                width: 60%;
              }
              90% {
                width: 90%;
              }
              100% {
                width: 90%;
              }
            }
          }
        }

        .answers {
          display: flex;
          justify-content: center;
          flex-direction: column;

          .answer {
            position: relative;
            padding: 1rem 0.5rem;
            border-radius: 0.25rem;
            cursor: pointer;
            font-weight: 400;

            @media (min-width: 576px) and (max-width: 1199.98px) {
              font-size: 1.3rem;
            }

            .answer-option {
              pointer-events: none;
            }

            .circle {
              margin-right: 2rem;
              pointer-events: none;

              &::before {
                content: "";
                position: absolute;
                top: 1.35rem;
                left: 1rem;
                width: 10px;
                height: 10px;
                border-radius: 3rem;
                background-color: #fff;
                border: 1px solid #fff;

                @media (min-width: 576px) and (max-width: 1199.98px) {
                  top: 1.5rem;
                }
              }
            }

            & + .answer {
              margin-top: 1rem;
            }

            transition: all 0.3s;
            &:hover {
              background-color: var(--yellow);
              color: rgb(61, 47, 0);

              @media (max-width: 1199.98px) {
                background-color: transparent;
                color: #fff;
              }

              span {
                &::before {
                  background-color: #383838;

                  @media (max-width: 1199.98px) {
                    background-color: #fff;
                  }
                }
              }
            }
            &:active {
              background-color: var(--yellow);

              span {
                &::before {
                  background-color: #383838;
                }
              }
            }
          }
        }
      }
    }

    .testimonials {
      width: 80%;
      margin: 2rem auto;
      display: grid;
      grid-template-columns: auto auto;
      gap: 3rem;

      @media (max-width: 575.98px) {
        width: 95%;
        grid-template-columns: auto;
        gap: 2rem;
      }

      @media (min-width: 576px) and (max-width: 1199.98px) {
        width: 90%;
        grid-template-columns: auto;
      }

      .testimonial {
        display: grid;
        grid-template-columns: 1fr 3fr;
        background-color: rgba(0, 0, 0, 0.13);
        padding: 1rem;
        border-radius: 0.25rem;
        color: #121212;

        @media (min-width: 576px) and (max-width: 1199.98px) {
          grid-template-columns: 1fr 5fr;
        }

        .profile {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          width: 8rem;

          img {
            width: 100%;
            height: 8rem;
            border-radius: 100%;
          }
        }

        .rate {
          margin-top: 0.5rem;
          width: 100%;

          img {
            width: 100%;

            @media (min-width: 576px) and (max-width: 1199.98px) {
              width: 8rem;
            }
          }
        }

        .comment {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 1rem;
          font-weight: 400;

          @media (min-width: 576px) and (max-width: 1199.98px) {
            font-size: 1.2rem;
          }
        }

        .details {
          margin-left: 1rem;

          @media (min-width: 576px) and (max-width: 1199.98px) {
            font-size: 1.2rem;
          }

          .name {
            font-weight: bold;
          }

          .location {
            font-weight: bold;
            color: rgb(34, 93, 255);
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: #121212;
    color: #fff;
    margin-top: 8rem;
    padding: 1.5rem 1rem;
    text-align: center;
    color: #777777;
    font-size: 0.75rem;

    a {
      text-decoration: none;
      color: #999999;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 1rem;
      }
    }
  }

  // FORM
  .sib-form {
    width: 50%;
    margin: 0 auto;
    padding: 0;

    @media (max-width: 991.98px) {
      width: 100%;
    }

    #sib-container {
      background: none;

      input:-ms-input-placeholder {
        text-align: left;
        color: #c0ccda;
      }

      input::placeholder {
        text-align: left;
        color: #c0ccda;
      }

      .input {
        color: #121212;
        width: 100%;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: left;
        border-radius: 3px;
      }

      .entry__error {
        font-size: 16px;
        text-align: left;
        color: #661d1d;
        background-color: #ffeded;
        border-radius: 3px;
        border-color: #ff4949;
      }

      .sib-form-block__button {
        width: 100%;
        font-size: 1.4rem;
        font-weight: bold;
        border-radius: 0.25rem;
        padding: 1.5rem 0;

        color: #fff;
        background: rgb(0, 161, 0);

        transition: filter 0.3s;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}
